.navbar.navbar-default
    .container-fluid
        .navbar-header
            a.navbar-brand(href="/")首页
            a.navbar-brand(href="/admin/list")后台
            a.navbar-brand(href="/admin/movie")添加

.container
    .rows
        .page-header
            h1 #{title}
            small Science is the most important